GOOGLE_SMTP_USER=info@creolitos.com
GOOGLE_SMTP_APP_PASSWORD=your_google_app_password
CONTACT_FROM_EMAIL=info@creolitos.com
CONTACT_TO_EMAIL=info@creolitos.com
ADMIN_BASIC_AUTH_USER=admin
ADMIN_BASIC_AUTH_PASSWORD=change-me
