@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body {
    min-height: 100vh;
    width: 100%;
  }
  
  body {
    position: relative;
  }
  
  mark {
    @apply inline-block bg-transparent text-creoSkin-400 px-1 py-0.5 rounded-xl;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
